.header-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    .header-layout {
        background-color: rgb(197, 197, 197, 0.49);
        width: 90%;
        height: 80px;
        padding: 15px 60px;

        &__content {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }

        &__left-content {
            color: #252b42;
            font-weight: 700;
        }

        &__right-content {
            display: flex;
            align-items: center;

            .header-layout__select-language {
                display: flex;
                align-items: center;
                padding-left: 35px;

                .dropdown {
                    button {
                        background-color: unset;
                        border: unset;
                    }
                }

                .image__container {
                    img {
                        max-width: 50px;
                    }
                }
            }
        }
    }
}
