$active-color: #b8ba4ba6;
.menu-item__container.active {
    background-color: $active-color;
    transition: all 0.1s ease-in-out;
    font-weight: 700;
}
.slide-container {
    background-color: white;
    height: 600px;
    border-radius: 8px;

    .user-info__container {
        padding-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .user-info__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(150, 76, 154, 10%);
        border-radius: 13px;
        padding: 10px;
        margin: 0px 15px;

        .user-info__image {
            img {
                width: 50px;
            }
        }

        .user-info__info {
            padding-left: 10px;

            .user-info__name {
                color: #2e1f27;
                font-weight: 700;
            }

            .user-info__role {
                font-size: 12px;
            }
        }
    }

    .slider-menu {
        padding-top: 15px;

        .menu-item__container {
            // cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 30px;
            border-bottom: 1px solid;
            text-decoration: none;
            color: #2e1f27; 
            gap: 7px;
        }
    }

    .footer {
        height: 80px;
        background: $active-color;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-content {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}
